BACKEND_URL=your_backend_url_here
FRONTEND_URL=your_frontend_url_here

API_URL=your_backend_url_here/api/v1
AUTH_URL=your_backend_url_here/api/auth

NEXT_PUBLIC_APP_URL=your_frontend_url_here
NEXT_PUBLIC_AUTH_URL=your_backend_url_here/api/auth
NEXT_PUBLIC_API_URL=your_backend_url_here/api/v1